#background{
        -fx-background-image: url("/img/tetris.jpg");
        -fx-background-position: center center;
        -fx-background-size:cover;
}
.buttonStyle
{
     -fx-background-color:  #0C71F8;
     -fx-text-fill: white;
     -fx-background-radius: 5% 50% / 60%;
}

.buttonStyle:hover
{
     -fx-background-color:  #3E8EF9;
}

.gameOver
{
    -fx-font-size: 325%;
}

.labelScoreText
{
    -fx-font-size: 225%;
    -fx-font-weight: bold;
}

.labelScore
{
    -fx-font-size: 225%;
}

.labelName
{
    -fx-font-size: 225%;
}

.labelNextBlock
{
    -fx-font-size: 225%;
}

